{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <table class="panier">
                <thead>
                <tr>
                    <th>Image</th>
                    <th>Nom</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Total</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for item in panier %}
                    {% set produit = item.produit %}
                    <tr id="produit_{{ produit.id }}" data-id="{{ produit.id }}">
                        <td>
                            <img src="{{ produit.image[0] }}" alt="{{ produit.nom }}" width="300">
                        </td>
                        <td>{{ produit.nom }}</td>
                        <td class="prix">{{ produit.prix }}€</td>
                        <td>
                            <form method="post" action="{{ path('app_panier_update', {'id': produit.id}) }}"
                                  data-turbo-frame="produit_{{ produit.id }}">
                                <input type="number" name="quantity" value="{{ item.quantity }}" min="1" max="100"
                                       onchange="this.form.requestSubmit()">
                            </form>

                        </td>
                        <td class="total">{{ produit.prix * item.quantity }}€</td>
                        <td>
                            <form method="post" action="{{ path('app_panier_remove', {'id': produit.id}) }}"
                                  data-turbo-frame="produit_{{ produit.id }}" data-turbo-action="replace">
                                <button type="submit">Retirer</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <h5>Total : <span id="panier-total">{{ total }}</span>€</h5>
            {% if panier %}
                <a href="{{ path('app_commande_new') }}" data-turbo="false">
                    <button>Valider la Commande</button>
                </a>
            {% else %}
                <a>
                    <button disabled>Valider la Commande</button>
                </a>
            {% endif %}
        </div>
    </div>

{% endblock %}
