<style>
    .navbar-bar {
        display: flex;
        padding: 15px;
    }

    .logo {
        display: flex;
        width: 20%;
    }

    .categorie {
        display: flex;
        width: 60%;
        justify-content: space-around;
        align-items: center;
    }

    .profile {
        display: flex;
        width: 20%;
        align-items: center;
        justify-content: flex-end;
    }

    .continent {
        color: white;
        text-decoration: none;
    }

    .continent:hover {
        color: #00d4a8;
        text-shadow: 0 0 10px #00d4a8, 0 0 20px #00d4a8;

    }

</style>


<nav class="navbar-bar">
    <div class="logo">
        <a href="{{ path('app_home') }}">
            <img src="{{ asset('images/logo.jpg') }}" alt="logo" width="150">
        </a>
    </div>

    <div class="categorie">
        <div><a class="continent" href="{{ path('app_get_all_produit') }}" data-turbo-action="replace">Monde</a></div>
        <div><a class="continent" href="/page-produit/europe" data-turbo-action="replace">Europe</a></div>
        <div><a class="continent" href="/page-produit/Asie" data-turbo-action="replace">Asie</a></div>
        <div><a class="continent" href="/page-produit/Amerique-du-nord" data-turbo-action="replace">Amérique du Nord</a></div>
        <div><a class="continent" href="/page-produit/Oceanie" data-turbo-action="replace">Océanie</a></div>
    </div>



    <div class="profile">
        {% if app.user %}
            {% set showAdmin = false %}
            {% for role in roles %}
                {% if role != "ROLE_USER" %}
                    {% set showAdmin = true %}
                {% endif %}
            {% endfor %}

            {% if showAdmin %}
                <a href="/admin">Admin</a>
            {% endif %}


            <div>
                <a href="/user/{{ app.user.id }}" data-turbo-action="replace">
                    <img src="{{ asset('/images/user.png') }}" alt="account" width="30" height="30">
                </a>
            </div>
            <a href="{{ path('app_logout') }}" data-turbo-action="replace">Logout</a>
        {% else %}
            <a href="{{ path('app_login') }}" data-turbo-action="replace">Login</a>
        {% endif %}
        <div>
            <a class="nav-link" href="{{ path('app_panier') }}" data-turbo-action="replace">Panier</a>
        </div>
    </div>
</nav>