<style>
    .navbar-bar {
        display: flex;
        padding: 15px;
    }

    .logo {
        display: flex;
        width: 20%;
    }

    .categorie {
        display: flex;
        width: 60%;
        justify-content: space-around;
        align-items: center;
    }

    .profile {
        display: flex;
        width: 20%;
        align-items: center;
        justify-content: flex-end;
    }

    .continent {
        color: white;
        text-decoration: none;
    }

    .continent:hover {
        color: #00d4a8;
        text-shadow: 0 0 10px #00d4a8, 0 0 20px #00d4a8;

    }

</style>


<nav class="navbar-bar">
    <div class="logo">
        <a href="{{ path('app_home') }}">
            <img src="{{ asset('images/logo.jpg') }}" alt="logo" width="150">
        </a>
    </div>

    <div class="categorie">
        <div>
            <a class="continent" href="{{ path('app_get_all_produit') }}">Monde</a>
        </div>
        <div>
            <a class="continent" href="/page-produit/europe">Europe</a>
        </div>
        <div>
            <a class="continent" href="/page-produit/Asie">Asie</a>
        </div>
        <div>
            <a class="continent" href="/page-produit/Amerique-du-nord">Amérique du Nord</a>
        </div>
        <div>
            <a class="continent" href="/page-produit/Oceanie">Océanie</a>
        </div>

    </div>


    <div class="profile">
        {% if app.user %}
            <div>
                <a href="/user/{{ app.user.id }}">
                    <img src="{{ asset('/images/user.png') }}" alt="account" width="30" height="30">
                </a>
            </div>
            <a href="{{ path('app_logout') }}">Logout</a>
        {% else %}
            <a href="{{ path('app_login') }}">Login</a>
        {% endif %}
        <div>
            <a class="nav-link" href="{{ path('app_panier') }}">Panier</a>
        </div>
    </div>
</nav>