{% extends 'base.html.twig' %}

{% block title %}Hello PageProduitController!{% endblock %}

{% block body %}
    <style>
        .card:hover {
            box-shadow: 1px 2px 5px;
        }
    </style>

    <div class="container">
        <div class="row">
            {% for produit in produits %}
                <div class="card">
                    <div class="content">
                        <div class="back">
                            <div class="back-content"
                                 style="background-image: url('{{ produit.image[0] }}');"
                                 data-images='{{ produit.image|json_encode|raw }}'
                                 id="produit-{{ produit.id }}">
                                <a class="ville-name" href="/produit/{{ produit.id }}">
                                    <strong>{{ produit.reference }}</strong>
                                </a>

                            </div>
                        </div>
                        <div class="front">
                            <div class="img"
                                 style="background-image: url('{{ produit.image[1] }}');">
                            </div>
                            <div class="front-content">
                                <div class="description">
                                    <div class="title">
                                        <p class="title">
                                            <strong>{{ produit.nom }}</strong>
                                        </p>
                                    </div>
                                    <div class="produit-description">
                                        <p class="produit-description">
                                            {{ produit.description|slice(0, 110) ~ '...' }}
                                        </p>
                                    </div>
                                    <p class="card-footer">
                                        30 Mins &nbsp; | &nbsp; 1 Serving
                                    </p>
                                    <p class="produit-description-souligne">
                                        <a href="/produit/{{ produit.id }}">Voir</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script src="{{ asset('/js/img.js') }}" defer></script>


{% endblock %}
